.notifBoxColumn {
    margin-top:10px;
    width:600px;
    height:100px;
    background-color: #bdc3c7;
}

.notifAvatarColumn {
    width:92px;
    height:92px;
    margin:4px;
    float:left;
}

div.notifAvatarColumn > img {
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
}

.notifAboutColumn {
    position: relative;
    width:500px;
    height:100px;
    background-color: #ecf0f1;
    float:left;
}

.notifTimeColumn {
    font-family: "DejaVu Sans";
    font-style: italic;
    position:absolute;
    text-align: right;
    font-size:16px;
    color:gray;
    bottom:36px;
    right:4px;
}

.notifSenderColumn {
    font-family: "DejaVu Sans";
    text-decoration: solid;
    position:absolute;
    font-size:20px;
    bottom:30px;
    left:4px;
}

.notifTextColumn {
    font-family: "DejaVu Sans";
    position:absolute;
    font-size:16px;
    bottom:4px;
    left:4px;

}

.notifButtonColumn:visited {
    font-family: "DejaVu Sans";
    position:absolute;
    background-color: #3498db;
    font-size:20px;
    bottom:4px;
    left:4px;
    text-decoration: solid;
    text-align: center;
    color:antiquewhite;
    padding: 4px;
    width:100px;
    height: 60px;
    border:0px;
    top:56px;

}

.notifButtonColumn:link {
    font-family: "DejaVu Sans";
    position:absolute;
    background-color: #3498db;
    font-size:20px;
    bottom:4px;
    left:4px;
    text-decoration: solid;
    text-align: center;
    color:antiquewhite;
    padding: 4px;
    width:100px;
    height: 30px;
    border:0px;
    top:56px;
}

#notifAcceptColumn {
    left:272px;
}

#notifRemoveColumn {
    left:386px;
}

