.notifBox {
    margin-top:5px;
    width:300px;
    height:50px;
    background-color: #bdc3c7;
}

.notifAvatar {
    width:46px;
    height:46px;
    margin:2px;
    float:left;
}

div.notifAvatar > img {
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
}

.notifAbout {
    position: relative;
    width:250px;
    height:50px;
    background-color: #ecf0f1;
    float:left;
}

.notifTime {
    font-family: "DejaVu Sans";
    font-style: italic;
    position:absolute;
    text-align: right;
    font-size:8px;
    color:gray;
    bottom:18px;
    right:2px;
}

.notifSender {
    font-family: "DejaVu Sans";
    text-decoration: solid;
    position:absolute;
    font-size:10px;
    bottom:15px;
    left:2px;
}

.notifText {
    font-family: "DejaVu Sans";
    position:absolute;
    font-size:8px;
    bottom:2px;
    left:2px;

}


.notifButton{
    font-family: "DejaVu Sans";
    position:absolute;
    background-color: #3498db;
    font-size:10px;
    bottom:2px;
    left:2px;
    text-decoration: solid;
    text-align: center;
    color:antiquewhite;
    padding: 2px;
    width:50px;
    height: 15px;
    border:0px;
    top:28px;
    cursor:hand;
}

#notifAccept {
    left:136px;
}

#notifReject {
    left:193px;
}


