body {
    padding: 0px;
    margin:0px;
    background-color: #BDBDBD;
}
.body {
    width:800px;
    min-height:100px;
    margin:auto;
    margin-top:50px;
    padding: 5px;
    background-color: #FAFAFA;
    box-shadow: 0 10px 10px -6px gray;

}


.containerBox {
    margin:auto;
    min-height:100px;
    width:630px;
    padding: 5px;
    background-color: #bdc3c7;
}

.pic {
    display: inline-block;
    height:200px;
    width:200px;
    margin-top:5px;
    margin-left:5px;
    overflow: hidden;
    position: relative;
    overflow: hidden;

}

div.pic > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1 {
    margin:auto;
    font-family: "DejaVu Sans";
    color:#2c3e50;
    text-align: center;
}


.upload {
    margin:auto;
    width:400px;
    height: 100px;;
    margin-top:10px;

}

.uploadImage {
    font-family: "DejaVu Sans";
    background-color: #3498db;
    color:antiquewhite;
    padding: 3px;
    font-size:15px;
    border:0px;
}


input {
    border:1px #BDBDBD solid;
    font-size: 20px;
    color:#34495e;
    background-color: #BDBDBD;
    font-family: "DejaVu Sans";
    width:410px;
}

.submit {
    font-family: "DejaVu Sans";
    background-color: #3498db;
    color:antiquewhite;
    padding: 3px;
    font-size:15px;
    border:0px;
}
