body {
    padding: 0px;
    margin:0px;
    background-color: #BDBDBD;
}
.body {
    width:1000px;
    height:800px;
    margin:auto;
    margin-top:50px;
    background-color: #FAFAFA;
}

.profile {
    height:300px;
    width:300px;
    margin:10px 10px;
    background-color: #ecf0f1;
    border:15px solid #ecf0f1;
    float:left;
    position: relative;
    overflow: hidden;

}

div.profile > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about {
    width:620px ;
    height:320px;
    padding:5px;
    margin:10px 10px;
    background-color: #ecf0f1;
    float:left;
    text-align: center;
}

.name {
    width:600px;
    padding:5px;
    padding-bottom: 40px;
    height: 50px;
    text-align: center;
    border:5px solid #FAFAFA;
}

.editdiv {
    height:30px;
    width:300px;
    padding:15px;
    margin:10px 10px;
    background-color: #ecf0f1;
    float:left;
}

.edit:visited {
    display:block;
    text-decoration: solid;
    text-align: center;
    font-family: "DejaVu Sans";
    background-color: #3498db;
    color:antiquewhite;
    font-size:20px;
    width:200px;
    height: 30px;
    padding-top: 5px;
    float:left;
    margin-left:50px;
}

.edit:link {
    display:block;
    text-decoration: solid;
    text-align: center;
    font-family: "DejaVu Sans";
    background-color: #3498db;
    color:antiquewhite;
    font-size:20px;
    width:200px;
    height: 30px;
    margin-top:5px;
    padding-top: 5px;
    float:left;
    margin-left:50px;
}

.buttons {
    width:600px;
    height:30px;
    padding:15px;
    margin:10px 10px;
    background-color: #ecf0f1;
    float:left;
    text-align: center;
}

h2 {
    font-family: "DejaVu Sans";
    color:#34495e;
    font-size:30px;
}
ul {
    list-style-type: none;
    font-family: "DejaVu Sans";
    color:#34495e;
}
