body {
    padding: 0px;
    margin:0px;
    background-color: #BDBDBD;
}
.body {
    width:1000px;
    height:550px;
    margin:auto;
    margin-top:55px;
    background-color: #FAFAFA;
}

.edit {
    width:600px;
    margin:50px;
    margin-left:150px;
    float:left;

}
.avatar {
    position: absolute;
    height:200px;
    width:200px;
    flaot:left;
    position: relative;
    overflow: hidden;
}

div.avatar > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatarbox {
    position: relative;
    width:800px;
    height: 200px;
    float:left;
    margin-left:100px;
    margin-top:10px;
}

.upload {
    position: absolute;
    width:600px;
    height: 200px;;
    left:50px;
    top:20px;
    float:left;
}

.uploadImage {
    font-family: "DejaVu Sans";
    background-color: #3498db;
    color:antiquewhite;
    padding: 3px;
    font-size:15px;
    border:0px;
}

input {
    border:1px #BDBDBD solid;
    font-size: 20px;
    color:#34495e;
    background-color: #BDBDBD;
    font-family: "DejaVu Sans";
    width:410px;
}

.submit {
    font-family: "DejaVu Sans";
    background-color: #3498db;
    color:antiquewhite;
    padding: 3px;
    font-size:15px;
    border:0px;
}

input {
    float:right;
}
button {
    font-family: "DejaVu Sans";
    background-color: #3498db;
    color:antiquewhite;
    padding: 3px;
    font-size:15px;
    float:right;
    margin-right: 30%;
    border:0px;
}

#male,#female {
    width:auto;
    float:none;
}
.centergender {
    width:200px;
    margin-left:50%;
}
label {
    font-family: "DejaVu Sans";
    color:#34495e;
}

input[type="radio"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
}

