body {
    padding: 0px;
    margin:0px;
    background-color: #BDBDBD;
}
.body {
    width:800px;
    min-height:300px;
    margin:auto;
    margin-top:50px;
    padding: 5px;
    background-color: #FAFAFA;
}

.userBox {
    position: relative;
    width:400px;
    height:100px ;
    margin:auto;
    padding: 5px;
    background-color: #E0E0E0;
    margin-top:10px;
}

.avatar {
    position:absolute;
    float: left;
    width:100px;
    height: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

div.avatar > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutUser {
    position: absolute;
    left:110px;
    font-family: "DejaVu Sans";
    float:left;
    width: 300px;
    height:100px;
}

h1 {
    font-size: 20px;
    color: #2c3e50;
    text-align: center;
}

h2 {
    margin-top:2px;
    font-size: 10px;
    color: #34495e;
}

.containerBox {
    margin:auto;
    margin-top:5px;
    min-height:200px;
    width:600px;
    padding: 5px;
    background-color: #bdc3c7;
}