body {
    padding: 0px;
    margin:0px;
    background-color: #BDBDBD;
}
.body {
    width:800px;
    min-height:100px;
    margin:auto;
    margin-top:50px;
    padding: 5px;
}

.containerBox {
    position: relative;
    margin:auto;
    margin-top:55px;
    width:500px;
    min-height: 135px;
    background-color: #ecf0f1;
    box-shadow: 0 10px 10px -6px gray;
    overflow:auto;
}

.avatarBox {
    margin:5px;
    position:relative;
    float: left;
    width:50px;
    height: 50px;
    overflow: hidden;
}

div.avatarBox > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.time {
    position: absolute;
    left:60px;
    top:30px;
    margin:5px;
    font-size:10px;
    color:#95a5a6;
    font-family: "DejaVu Sans";
}

.textBox {
    display:inline-block;
    float:left;
    width:480px;
    margin:5px;
    padding:5px;
    min-height: 0px;
    background-color: #E0E0E0;
}

.postBox {
    margin:5px;
    position:relative;
    width:490px;
    min-height: 50px;
}

div.postBox > img {
    width:inherit;
}

p {
    font-family: "DejaVu Sans";
    color:#2c3e50;
}

.poster {
    float:left;
    margin:5px;
    margin-top:10px;
    font-family: "DejaVu Sans";
    font-size:15px;
    color:#7f8c8d;

}

.postcontainer {
    position: fixed;
    left:50%;
    margin-left:-400px;
    z-index: 2;
    width:800px;
    height:50px;
    background-color: #ecf0f1 ;
    box-shadow: 0 10px 10px -6px gray;
}


.textinput {
    margin:5px;
    padding: 2px;
    width:670px;
    height: 40px;
    border:1px #E0E0E0 solid;
    font-size: 15px;
    color:#34495e;
    background-color: #E0E0E0;
    font-family: "DejaVu Sans";
    resize: none;
    float:left;
}

.fileinput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload  {
    position: absolute;
    left:680px;
    top:5px;
    font-family: "DejaVu Sans";
    background-color: #3498db;
    color:antiquewhite;
    padding: 3px;
    font-size:10px;
    border:0px;
    width:110px;
    text-align: center;
}

.submit {
    text-align: center;
    position: absolute;
    left:680px;
    top:28px;
    font-family: "DejaVu Sans";
    background-color: #3498db;
    color:antiquewhite;
    padding: 3px;
    font-size:10px;
    border:0px;
    width:115px;

}

